<h2>Add Amazing Avo Deals!</h2>
<p><a href="/">Back</a></p>
<div>
    <form class="" method="POST" action="/add">

<label id="create"><b>Shop id:</b></label>
<input class="" type="text" name="shopID">
 <br><br>
<label class=""><b>Quantity:</b></label>
<input class="" type="text"name="quantity">
<br><br>
<label class=""><b>Price:</b></label>
<input class="" type="text" name="price">
<br><br>
<button class="create" type="submit">Add deal</button>
 
</form>

</div>