<h2>Enter new store to system</h2>
<p><a href="/shopList">Back</a></hp>
 <form class="" method="POST" action="/new">

<label id="create"><b>Store Name:</b></label>
<input class="" type="text" name="store">
 <br><br>

<button class="create" type="submit">Add store</button>
 
</form>